*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

:root{
    /* Colors */
    --primary-color: #ffa500;
    --second-dark-color: #004829;
    --second-light-color: #245C44;
    --primary-linght-color: white;
    --primary-dark-color: black;
    /* Font Size */
    --small-font: 12px;
    --medium-font: 14px;
    --large-font: 16px;
    --extra-large-font: 18px;
    /* Font Weight */
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
    --font-black: 900;
    /* Padding */
    --small-padding: 10px;
    --medium-padding: 20px;
    --large-padding: 30px;
    --extra-large-padding: 40px;
    /* background-color */
    --bg-color-white: #f9f9f9;
    --main-dark-bg-color: orange;
    --main-light-bg-color: rgb(255, 193, 79);
    --bg-dark-color: #3d3d3d;
}

/* all */
.active-nav{
    background: var(--main-dark-bg-color);
    color: #fff;
}
/* all */

/* Contact-pg */
.contact-banner{
    background: #000;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-banner .content-banner{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.contact-banner h1{
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
}

.contact-content{
    background: #dbdbdb;
    height: fit-content;
}

.contact-item{
    margin: 10px auto;
    position: relative;
    top: -30%;
    padding: 30px;
    text-align: center;
    background: #fff;
    max-width: 700px;
    border-radius: 10px;
}

.contact-item h3{
    color: var(--second-dark-color);
    font-weight: bold;
}

.contact-item i{
    font-size: 50px;
    color: var(--primary-color);
}

.contact-item p{
    color: rgb(27, 30, 37);
}

.contact-item button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    &:hover{
        background: var(--second-dark-color);
        color: #fff;
    }
}
/* Contact-pg */